.p1 {
    color: cornflowerblue;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.d1 {
    height: 500px;
    width: 300px;
    background-color: aliceblue;
}

.p2 {
    font-size: larger;
}

.a1 {
    text-decoration: dotted;
}